/* Error: expected ")".
 *   ,
 * 4 |     src: url("/assets/fonts/PTSans-Regular.ttf" format("truetype");
 *   |                                                                   ^
 *   '
 *   sass\utilities\_global.scss 4:67  @import
 *   sass\style.scss 3:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a   \2577 \a 4 \2502      src: url("/assets/fonts/PTSans-Regular.ttf" format("truetype");\d\a   \2502                                                                    ^\a   \2575 \a   sass\\utilities\\_global.scss 4:67  @import\a   sass\\style.scss 3:9               root stylesheet';
}
