/* header */
.header-container {
  background-color: rgba(244, 244, 244, 0.893);
  border-bottom: 2px solid rgb(255, 0, 0);

  a.tdc-logo {
    img {
      height: 50px;
    }
  }

  a.tdc-cart{
    img{
        height: 30px;
    }
  }


}
